.container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center; 
}

.btn {
    width: 100px;
    /* height: 100px; */
}

div {
    margin:auto;
    margin-top: 1rem;
}

.form-control {
    width: 100% !important;
    max-width: 100% !important;
}
  

form {
    max-width: 600px; /* Adjust width as needed */
    width: 100%;
    margin: auto;
}
  
input[type="text"],
textarea,
select {
    width: 100%; /* Make the inputs stretch to the container width */
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    border: 1px solid #ddd;
    border-radius: 5px;
}